* {
    scrollbar-width: thin;
    scrollbar-color: #9FB2D1 transparent;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #9FB2D1;
    border-radius: 10px;
    border: 3px solid transparent;
}

html, body, #root {
  height: 100%;
}

.statistics-table td:nth-child(1) {
    padding-right: 0;
}

.label-nowrap {
    white-space: nowrap;
}
