* {
  scrollbar-width: thin;
  scrollbar-color: #9FB2D1 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9FB2D1;
  border-radius: 10px;
  border: 3px solid transparent;
}

.statistics-table td:nth-child(1) {
  padding-right: 0;
}
